# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\daneshgah\Teaching\university class\programing workshop for beginners 99-00\programing workshop for beginners 99-00\session-05\session-05T\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
